/*@import '~antd/dist/antd.css';*/

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.header {
  background-color: #000;
  height: 64px;
  color: #fff;
  border-bottom: 1px solid #eee;
}

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
.logo {
  width: 120px;
  height: 63px;
  background: #ccc;
  float: left;
  font-size: 30px;
  text-align: center;
}
